@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 232, 252, 237;
  --background-end-rgb: 255, 255, 255;

  --menu-bg-deg: 116deg;
  --menu-bg-start-rgb: 250, 250, 250;
  --menu-bg-end-rgb: 244, 244, 244;
  --menu-bg-opacity: 0.5;
  --box-shadow-color: 31, 34, 37, 0.09;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 232, 252, 237;
    --background-end-rgb: 34, 34, 34;

    --menu-bg-start-rgb: 40, 42, 43;
    --menu-bg-end-rgb: 34, 36, 37;
    --box-shadow-color: 244, 244, 244, 0.12;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to top, rgb(var(--background-end-rgb)), transparent 80%) rgb(var(--background-start-rgb));
}

.link-bg {
  background: rgba(31, 34, 37, 0.3);
  border-radius: 6px;
  transition: background 0.15s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  cursor: default;
  position: absolute;
  z-index: -1;
}

@supports (backdrop-filter: saturate(1.5) blur(4px)) {
  .menu {
    backdrop-filter: saturate(1.5) blur(4px);
  }
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
  width: 10rem;
  right: 0rem;
  padding: 0.8rem 0;
  top:-8rem;
  box-shadow:
    rgba(var(--box-shadow-color)) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.08) 0px 12px 24px -4px,
    rgba(0, 0, 0, 0.04) 0px 8px 16px -4px;
  border-radius: 8px;
  overflow: hidden;
  pointer-events: auto;
  background: linear-gradient(
    var(--menu-bg-deg),
    rgba(var(--menu-bg-start-rgb), var(--menu-bg-opacity)),
    rgba(var(--menu-bg-end-rgb), var(--menu-bg-opacity))
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
